/* HTML5 ? Boilerplate
 * ==|== normalize ==========================================================
 */

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }
audio:not([controls]) { display: none; }
[hidden] { display: none; }

html { font-size: 100%; overflow-y: scroll; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }
body { margin: 0; font-size: 13px; line-height: 1.231; }
body, button, input, select, textarea { font-family: sans-serif; color: #222; }

::-moz-selection { background: #fe57a1; color: #fff; text-shadow: none; }
::selection { background: #fe57a1; color: #fff; text-shadow: none; }

a:focus { outline: thin dotted; }
a:hover, a:active { outline: 0; }

abbr[title] { border-bottom: 1px dotted; }
b, strong { font-weight: bold; }
blockquote { margin: 1em 40px; }
dfn { font-style: italic; }
hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }
ins { background: #ff9; color: #000; text-decoration: none; }
mark { background: #ff0; color: #000; font-style: italic; font-weight: bold; }
pre, code, kbd, samp { font-family: monospace, monospace; _font-family: 'courier new', monospace; font-size: 1em; }
pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }
q { quotes: none; }
q:before, q:after { content: ""; content: none; }
small { font-size: 85%; }
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }
ul, ol { margin: 1em 0; padding: 0 0 0 40px; }
dd { margin: 0 0 0 40px; }
nav ul, nav ol { list-style: none; list-style-image: none; margin: 0; padding: 0; }
img { border: 0; -ms-interpolation-mode: bicubic; vertical-align: middle; }
svg:not(:root) { overflow: hidden; }
figure { margin: 0; }

form { margin: 0; }
fieldset { border: 0; margin: 0; padding: 0; }
label { cursor: pointer; }
legend { border: 0; *margin-left: -7px; padding: 0; }
button, input, select, textarea { font-size: 100%; margin: 0; vertical-align: baseline; *vertical-align: middle; }
button, input { line-height: normal; *overflow: visible; }
table button, table input { *overflow: auto; }
button, input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; -webkit-appearance: button; }
input[type="checkbox"], input[type="radio"] { box-sizing: border-box; }
input[type="search"] { -webkit-appearance: textfield; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }
input[type="search"]::-webkit-search-decoration { -webkit-appearance: none; }
button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }
textarea { overflow: auto; vertical-align: top; resize: vertical; }
input:valid, textarea:valid {  }
input:invalid, textarea:invalid { background-color: #f0dddd; }

table { border-collapse: collapse; border-spacing: 0; }
td { vertical-align: top; }


/* ==|== primary styles =====================================================
   Author: Daniel Flanagan ( http://lytedev.com )
   ========================================================================== */

body, html {
background-color: #222;
color: #333;
font-size: 8pt;
font-family: "Lucida Grande", "Trebuchet MS", Verdana, Helvetica, Arial, sans-serif;
text-shadow: #eee 1px 1px 0px;
padding: 0 10px;
}

h1, h2, h3, h4, h5, h6 {
text-shadow: #888 1px 1px 1px;
font-weight: bold;
margin: 0;
padding: 0;
}

.bad {
color: #f10;
font-size: 12pt;
font-weight: bold;
}

.text-input {
font-family: inherit;
font-size: 12pt;
padding: 5px;
border: solid 1px #888;
margin-bottom: 3px;
text-shadow: #fff 0px 1px 1px;
}

.button {
font-family: inherit;
font-size: 12pt;
padding: 5px 15px;
text-shadow: #fff 0px 1px 1px;
}

h1 {
font-size: 18pt;
}

h2 {
font-size: 16pt;
}

hr {
height: 0;
margin: 0;
padding: 0;
margin-top: 3px;
margin-bottom: 10px;
border-top: solid 1px #bbb;
border-bottom: solid 1px #ddd;
}

p {

}

pre, code, kbd, samp { 
font-family: "Consolas", "Lucida Console", monospace;
background: url('img/small-post.png');
background-repeat: repeat-x;
background-color: #ddd;
padding: 10px;
margin: 0;
margin-top: 3px;
border: solid 1px #abc;
}

a {
text-decoration: none;
color: #06f;
text-shadow: none;
}

a:hover {
color: inherit;
text-shadow: #eee 1px 1px 0px;
}

#container {
padding: 20px;
padding-bottom: 0;
width: 600px;
margin: 0 auto;
background-color: #ccc;
background: url('img/top.png');
background-repeat: repeat-x;
background-color: #ccc;
border-radius: 10px;
margin-top: 20px;
border-bottom: solid 1px #aaa;
}

#very-bottom {
height: 20px;
width: 640px;
border-radius: 0 0 10px 10px;
position: relative;
left: -20px;
background: url('img/very-bottom.png');
background-repeat: repeat-x;
background-color: #ccc;
}

header {
}

.wrapper {
}

header .wrapper {
border-bottom: solid 1px #aaa;
padding-bottom: 20px;
}

header a, h1 a {
color: #06f;
text-shadow: #999 1px 1px 1px;
}

header a:hover, h1 a:hover {
color: #555;
text-shadow: #e5e5e5 0px 1px 1px;
}

#logo a {
font-size: 26pt;
float: left;
}

#logo a:hover {
}

#logo h1 {
margin: 0;
padding: 0;
}

header nav {
/* font-size: 9pt; */ 
float: right;
border-radius: 7px;
padding: 1px;
background-color: #999;
}

header nav a {
text-align: center;
border-top: solid 1px #6bf;
padding: 11px 20px;
color: #fff;
text-shadow: #222 1px 1px 0px;
}

header nav .first-page-link {
border-top-left-radius: 5px;
border-bottom-left-radius: 5px;
}

header nav .last-page-link {
border-top-right-radius: 5px;
border-bottom-right-radius: 5px;
border-right: none;
}

header nav a:hover {
color: #000;
text-shadow: #ddd 0px 1px 0px;
background: url('img/nav-hover.png');
background-repeat: repeat-x;
background-color: #b6b6b6;
border-top: solid 1px #ddd;
}

#nav-links {
float: right;
font-weight: bold;
padding: 12px 0;
text-shadow: #333 1px 1px 0px;
border-radius: 6px;
border-top: solid 1px #49f;
border-bottom: solid 1px #49f;
font-weight: bold;
background: url('img/nav.png');
background-repeat: repeat-x;
background-color: #1c6fff;
}

#logout {
display: inline;
float: right;
position: relative;
top: -4em;
}

#main {
/* text-align: justify; */
font-size: 12pt;
}

#main .wrapper {
border-top: solid 1px #ddd;
padding-top: 20px;
}

#main #page-title {
margin-bottom: 10px;
}

#main img {
max-width: 100%;
border: solid 1px #000;
position: relative;
left: px;
padding: 0;
}

#main img.exact {
width: auto !important;
}

#top-post {
margin-top: 0 !important;
}

.s-box {
margin-top: 10px;
border-bottom: solid 1px #bbb;
border-radius: 10px;
}

.inner-s-box {
padding: 10px;
color: #333;
border-bottom: solid 1px #aaa;
border-top: solid 1px #eee;
background: url('img/small-post.png');
background-repeat: repeat-x;
background-color: #ddd;
border-radius: 10px;
}

a:hover .inner-s-box {
background: url('img/small-post-hover.png');
background-repeat: repeat-x;
background-color: #e3e3e3;
}

.post-title {
float: left;
}

.post-date {
/* font-family: "Georgia", "Times New Roman", serif; */
float: right;
font-style: italic;
color: #555;
padding-bottom: 2px;
border-bottom: solid 1px #aaa;
}

a .post-date:hover {
border-bottom: solid 1px #08f;
color: #08f;
text-shadow: #d4d4d4 1px 1px 0px;
}

.post-content {
margin-top: 20px;
color: #000;
text-shadow: #ddd 1px 1px 0px;
}

.half-grid {
width: 245px;
margin-left: 9px;
float: left;
}

.third-grid {
text-align: left;
width: 193px;
margin-left: 10px;
float: left;
}

.quarter-grid {
text-align: left;
width: 118px;
margin-left: 9px;
float: left;
}

#dsq-global-toolbar a {
text-shadow: #111 1px 1px 1px;
}

#dsq-global-toolbar a:hover {
}

.first-grid-item {
margin-left: 0 !important;
}

.post-date {
font-size: 8pt !important;
}

.post-description {
margin-top: 10px;
font-size: 8pt;
}

.inner-post:hover {
border-top: solid 1px #f8f8f8;
}

.inner-post:hover .post-title {
color: #08f;
}

.inner-post:hover .post-date {
color: #333;
border-bottom: solid 1px #08f;
}

.inner-post:hover:before {
/*content: "Read More »";
float: left;
position: relative;
top: 5px;
left: 5px;
color: #888;*/
}

#sidebar {
display: none;
}

footer {
padding-bottom: 14px;
}

footer .wrapper {
color: #888;
text-shadow: #000 1px 1px 0px;
padding: 20px 0;
margin: 0 auto;
width: 600px;
}

footer .wrapper:hover {
}

footer #copyright {
float: left;
}

#footer-nav {
float: right;
}

#footer-nav a {
padding-bottom: 2px;
border-bottom: solid 1px #333;
margin-left: 1em;
text-shadow: #000 1px 1px 0px;
color: inherit;
}

#footer-nav a:hover {
color: #08f;
text-shadow: #111 1px 1px 0px;
border-bottom: solid 1px #08f;
}

/* ==|== non-semantic helper classes ======================================== */
.ir { display: block; border: 0; text-indent: -999em; overflow: hidden; background-color: transparent; background-repeat: no-repeat; text-align: left; direction: ltr; }
.ir br { display: none; }
.hidden { display: none !important; visibility: hidden; }
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }
.invisible { visibility: hidden; }
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }
.center { text-align: center; }
.serif { font-family: "Georgia", "Times New Roman", serif;


/* ==|== media queries ====================================================== */

@media only screen and (min-width: 480px) {


}

@media only screen and (min-width: 768px) {

}



/* ==|== print styles ======================================================= */
 
@media print {
  * { background: transparent !important; color: black !important; text-shadow: none !important; filter:none !important; -ms-filter: none !important; } 
  a, a:visited { text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; } 
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; }
  tr, img { page-break-inside: avoid; }
  img { max-width: 100% !important; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3 { page-break-after: avoid; }
}
